/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 425px) {
  /* CSS */
  .main-content {
    width: 100vw !important;
    font-size: 13px;
  }
  .main-content a {
    text-decoration: none;
    color: black;
  }
  .bannerStrip{
    width: 98%;
    background: #00aff0;
    height: 100px;
    padding-top: 30px;
    border-bottom-left-radius: 100px;
  }
  .banner {
    background: url(images/Untitled-3.png);
  }
  .bannerUL li {
    list-style-type: none;
  }
  .bannerUL {
    padding: 0 !important;
  }
  .profileImg {
    border-radius: 50%;
    width: max-content;
    height: max-content;
    overflow: hidden;
    border: 5px solid #00aff0;
    width: max-content;
  }
  .profileImg img {
    width: 100px!important;
    height: 100px!important;
  }
  .mainLogo {
    margin-left: 15%;
  }
  .mainLogo img {
    width: 90px!important;
  }
  .bannerUL img {
    width: 60px!important;
  }
  .bannerName{
    margin-top: 40px!important;
  }
  .blue {
    background-color: #00aff0;
  }
  .contactDetailsBlock{
    padding-left: 0!important;
    padding-right: 0!important;
    font-size: 13px;
  }
  .contactDetailsBlock img{
    width: 18px;
  }
  .contactDetailsIcon{
    padding-right: 0!important;
  }
  .saveContactButton {
    padding: 7px 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  .saveContactButton a {
    color: white;
  }
  .color-icons-1 {
    text-align: center;
    padding: 0!important;
  }
  .color-icons-1 img{
    width: 40px;
    height: 40px;
  }
  .shareIconParentList {
    text-align: center;
  }
  .shareIconParentList .iconImg {
    background-color: #00aff0;
    padding: 5px;
    border-radius: 10px;
  }
  .shareIconParentList .iconImg img {
    width: 30px;
    height: 30px;
  }
  .shareIconParentList .iconText {
    margin-top: 10px;
  }
  .bottomAddres {
    width: 98% !important;
    min-width: 98%!important;
    background-color: #00aff0;
    border-top-right-radius: 100px;
  }
  .bottomAddres .rightText {
    padding: 0 10% 0 0;
  }
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) and (min-width: 426px) {
  /* CSS */
  .main-content {
    width: 100vw !important;
    font-size: 17px;
  }
  .main-content a {
    text-decoration: none;
    color: black;
  }
  .bannerStrip{
    width: 98%;
    background: #00aff0;
    height: 120px;
    padding-top: 30px;
    border-bottom-left-radius: 100px;
  }
  .banner {
    background: url(images/Untitled-3.png);
  }
  .bannerUL li {
    list-style-type: none;
  }
  .bannerUL {
    padding: 0 !important;
  }
  .profileImg {
    border-radius: 50%;
    width: max-content;
    height: max-content;
    overflow: hidden;
    border: 5px solid #00aff0;
  }
  .profileImg img {
    width: 120px;
    height: 120px;
  }
  .mainLogo {
    margin-left: 10%;
  }
  .mainLogo img {
    width: 120px;
  }
  .bannerUL img {
    width: 90px;
  }
  .bannerName{
    margin-top: 90px!important;
  }
  .blue {
    background-color: #00aff0;
  }
  .saveContactButton {
    padding: 7px 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  .saveContactButton a {
    color: white;
  }
  .color-icons-1 {
    text-align: center;
  }
  .shareIconParentList {
    text-align: center;
  }
  .shareIconParentList .iconImg {
    background-color: #00aff0;
    padding: 10px;
    border-radius: 10px;
  }
  .shareIconParentList .iconImg img {
    width: 35px;
    height: 35px;
  }
  .shareIconParentList .iconText {
    margin-top: 10px;
  }
  .bottomAddres {
    width: 98% !important;
    min-width: 98%!important;
    background-color: #00aff0;
    border-top-right-radius: 100px;
  }
  .bottomAddres .rightText {
    padding: 0 10% 0 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* CSS */
  .main-content {
    width: 100vw !important;
    font-size: 19px;
  }
  .main-content a {
    text-decoration: none;
    color: black;
  }
  .bannerStrip{
    width: 98%;
    background: #00aff0;
    height: 130px;
    padding-top: 30px;
    border-bottom-left-radius: 100px;
  }
  .banner {
    background: url(images/Untitled-3.png);
  }
  .bannerUL li {
    list-style-type: none;
  }
  .bannerUL {
    padding: 0 !important;
  }
  .profileImg {
    border-radius: 50%;
    width: max-content;
    height: max-content;
    overflow: hidden;
    border: 5px solid #00aff0;
  }
  .profileImg img {
    width: 175px;
    height: 175px;
  }
  .mainLogo {
    margin-left: 10%;
  }
  .mainLogo img {
    width: 170px;
  }
  .bannerName{
    margin-top: 100px!important;
  }
  .blue {
    background-color: #00aff0;
  }
  .saveContactButton {
    padding: 7px 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  .saveContactButton a {
    color: white;
  }
  .color-icons-1 {
    text-align: center;
  }
  .shareIconParentList {
    text-align: center;
  }
  .shareIconParentList .iconImg {
    background-color: #00aff0;
    padding: 10px;
    border-radius: 10px;
  }
  .shareIconParentList .iconImg img {
    width: 35px;
    height: 35px;
  }
  .shareIconParentList .iconText {
    margin-top: 10px;
  }
  .bottomAddres {
    min-width: 98%!important;
    width: 98% !important;
    background-color: #00aff0;
    border-top-right-radius: 100px;
  }
  .bottomAddres .rightText {
    padding: 0 10% 0 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* CSS */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* CSS */
  .main-content {
    width: 60vw !important;
    max-width: 60vw !important;
    margin-left: 20vw !important;
    margin-right: 20vw !important;
    font-size: 21px;
  }
  .main-content a {
    text-decoration: none;
    color: black;
  }
  .bannerStrip{
    width: 98%;
    background: #00aff0;
    height: 140px;
    padding-top: 30px;
    border-bottom-left-radius: 100px;
  }
  .banner {
    background: url(images/Untitled-3.png);
  }
  .bannerUL li {
    list-style-type: none;
  }
  .bannerUL {
    padding: 0 !important;
  }
  .profileImg {
    border-radius: 50%;
    width: max-content;
    height: max-content;
    overflow: hidden;
    border: 5px solid #00aff0;
  }
  .profileImg img {
    width: 175px;
    height: 175px;
  }
  .mainLogo {
    margin-left: 10%;
  }
  .mainLogo img {
    width: 170px;
  }
  .bannerName{
    margin-top: 90px!important;
  }
  .blue {
    background-color: #00aff0;
  }
  .saveContactButton {
    padding: 7px 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  .saveContactButton a {
    color: white;
  }
  .color-icons-1 {
    text-align: center;
  }
  .shareIconParentList {
    text-align: center;
  }
  .shareIconParentList .iconImg {
    background-color: #00aff0;
    padding: 10px;
    border-radius: 10px;
  }
  .shareIconParentList .iconImg img {
    width: 35px;
    height: 35px;
  }
  .shareIconParentList .iconText {
    margin-top: 10px;
  }
  .bottomAddres {
    width: 98% !important;
    min-width: 98%!important;
    background-color: #00aff0;
    border-top-right-radius: 100px;
  }
  .bottomAddres .rightText {
    padding: 0 10% 0 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* CSS */
  .main-content {
    width: 40vw !important;
    max-width: 40vw !important;
    margin-left: 30vw !important;
    margin-right: 30vw !important;
    font-size: 21px;
  }
  .main-content a {
    text-decoration: none;
    color: black;
  }
  .blue {
    background-color: #00aff0;
  }
  .bannerStrip{
    width: 98%;
    background: #00aff0;
    height: 150px;
    padding-top: 30px;
    border-bottom-left-radius: 100px;
  }
  .banner {
    background: url(images/Untitled-3.png);
  }
  .bannerUL li {
    list-style-type: none;
  }
  .bannerUL {
    padding: 0 !important;
  }
  .profileImg {
    border-radius: 50%;
    width: max-content;
    height: max-content;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #00aff0;
  }
  .profileImg img {
    width: 175px;
    height: 175px;
  }
  .mainLogo {
    margin-left: 10%;
  }
  .mainLogo img {
    width: 200px;
  }
  .saveContactButton {
    padding: 7px 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  .saveContactButton a {
    color: white;
  }
  .color-icons-1 {
    text-align: center;
  }
  .shareIconParentList {
    text-align: center;
  }
  .shareIconParentList .iconImg {
    background-color: #00aff0;
    padding: 10px;
    border-radius: 10px;
  }
  .shareIconParentList .iconImg img {
    width: 35px;
    height: 35px;
  }
  .shareIconParentList .iconText {
    margin-top: 10px;
  }
  .bottomAddres {
    width: 98% !important;
    min-width: 98%!important;
    background-color: #00aff0;
    border-top-right-radius: 100px;
  }
  .bottomAddres .rightText {
    padding: 0 10% 0 0;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  /* CSS */
  .main-content {
    width: 50vw !important;
    max-width: 50vw !important;
    margin-left: 25vw !important;
    margin-right: 25vw !important;
    font-size: 21px;
  }
  .main-content a {
    text-decoration: none;
    color: black;
  }
  .blue {
    background-color: #00aff0;
  }
  .bannerStrip{
    width: 98%;
    background: #00aff0;
    height: 150px;
    padding-top: 30px;
    border-bottom-left-radius: 100px;
  }
  .banner {
    background: url(images/Untitled-3.png);
  }
  .bannerUL li {
    list-style-type: none;
  }
  .bannerUL {
    padding: 0 !important;
  }
  .profileImg {
    border-radius: 50%;
    width: max-content;
    height: max-content;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #00aff0;
  }
  .profileImg img {
    width: 175px;
    height: 175px;
  }
  .mainLogo {
    margin-left: 10%;
  }
  .mainLogo img {
    width: 200px;
  }
  .saveContactButton {
    padding: 7px 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  .saveContactButton a {
    color: white;
  }
  .color-icons-1 {
    text-align: center;
  }
  .shareIconParentList {
    text-align: center;
  }
  .shareIconParentList .iconImg {
    background-color: #00aff0;
    padding: 10px;
    border-radius: 10px;
  }
  .shareIconParentList .iconImg img {
    width: 35px;
    height: 35px;
  }
  .shareIconParentList .iconText {
    margin-top: 10px;
  }
  .bottomAddres {
    width: 98% !important;
    min-width: 98%!important;
    background-color: #00aff0;
    border-top-right-radius: 100px;
  }
  .bottomAddres .rightText {
    padding: 0 10% 0 0;
  }
}
