.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.firstColumnItem {
  background: url("./images/Untitled-3.png");
  width: 100%;
  /* max-width: 45% !important; */
  padding: 0 0 16px 30px;
  border-bottom: 1px solid #000;
  position: relative;
}
.firstColumnItem .secondColumnItem {
  background: #00afef;
  width: 100%;
  padding: 33px 18px 24px;
  border-bottom-left-radius: 110px;
  position: relative;
}

.firstColumnItem .secondColumnItem .firstColumnItem1stRow1stItem .header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  /* width: 100%; */
}
.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .leftHeader {
  margin-right: 8px;
  position: relative;
  width: 20%;
}
.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .middleHeader {
  position: relative;
  margin-right: 46px;
  width: 60%;
}

.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .middleHeader
  .middleProfileImage {
  width: 168px;
  height: 168px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .middleHeader
  .middleProfileImage
  img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #00afef;
}

.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .rightHeader {
  padding: 10px 6px 5px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .rightHeader
  .rightHeaderTop {
  width: 113px;
  height: 68px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .rightHeader
  .rightHeaderTop
  img {
  width: 100%;
  height: 100%;
}

.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .rightHeader
  .rightHeaderBottom {
  width: 122px;
  height: 65px;
}

.firstColumnItem
  .secondColumnItem
  .firstColumnItem1stRow1stItem
  .header
  .rightHeader
  .rightHeaderBottom
  img {
  width: 100%;
  height: 100%;
}
.firstColumnItem .secondColumnItem2 {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
.firstColumnItem
  .secondColumnItem2
  .firstColumnItem1stRow2ndItem
  .profileTile
  .name {
  font-size: 2.25em;
  margin-bottom: 10px;
  color: #00afef;
}

.firstColumnItem
  .secondColumnItem2
  .firstColumnItem1stRow2ndItem
  .profileTile
  .details {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
  color: #1c1c1c;
  font-weight: 500;
}

.firstColumnItem2 {
  width: 100%;
  /* max-width: 45% !important; */
}

.firstColumnItem2 .firstColumnItem2Row1stItem1st {
  padding: 23px 43px 23px 43px;
}

.firstColumnItem2
  .firstColumnItem2Row1stItem1st
  .contact
  .contactParent
  .contactParentItemList {
  margin-bottom: 25px;
}
.firstColumnItem2
  .firstColumnItem2Row1stItem1st
  .contact
  .contactParent
  .contactParentItemList:last-child {
  margin-bottom: 0px;
}

.firstColumnItem2
  .firstColumnItem2Row1stItem1st
  .contact
  .contactParent
  .contactParentItemList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.firstColumnItem2
  .firstColumnItem2Row1stItem1st
  .contact
  .contactParent
  .contactParentItemList
  .contactDetailsimage1 {
  margin-right: 30px;
  width: 24px;
  height: 24px;
}
.firstColumnItem2
  .firstColumnItem2Row1stItem1st
  .contact
  .contactParent
  .contactParentItemList
  .contactDetailsimage1
  img {
  width: 100%;
  height: 100%;
}
.firstColumnItem2
  .firstColumnItem2Row1stItem1st
  .contact
  .contactParent
  .contactParentItemList
  .contactDetails
  a {
  text-decoration: none;
  font-size: 21px;
  color: #121212;
}

.firstColumnItem2 .firstColumnItem2Row2ndItem1st {
  max-width: 100%;
  padding: 40px 0 33px 0px;
}
.firstColumnItem2 .firstColumnItem2Row2ndItem1st .contact2 .contact2Parent2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.firstColumnItem2
  .firstColumnItem2Row2ndItem1st
  .contact2
  .contact2Parent2
  .contact2Parent2ItemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  /* padding: 10px; */
}
.firstColumnItem2
  .firstColumnItem2Row2ndItem1st
  .contact2
  .contact2Parent2
  .contact2Parent2ItemList:last-child {
  margin-right: 0px;
}
.firstColumnItem2
  .firstColumnItem2Row2ndItem1st
  .contact2
  .contact2Parent2
  .contact2Parent2ItemList
  .icon {
  /* width: 50px; */
  /* height: 50px; */
  width: auto;
  height: auto;
  max-width: 50px;
}

.firstColumnItem2
  .firstColumnItem2Row2ndItem1st
  .contact2
  .contact2Parent2
  .contact2Parent2ItemList
  .icon
  a
  img {
  width: 100%;
  height: 100%;
}

.firstColumnItem2
  .firstColumnItem2Row2ndItem1st
  .contact2
  .contact2Parent2
  .contact2Parent2ItemList
  a {
  text-decoration: none;
}

.firstColumnItem2
  .firstColumnItem2Row2ndItem1st
  .contact2
  .contact2Parent2
  .contact2Parent2ItemList
  .iconName
  a {
  font-size: 17.54px;
  color: #121212;
  font-weight: 500;
}
.firstColumnItem2 .firstColumnItem2Row3rdItem1st {
  padding: 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstColumnItem2 .firstColumnItem2Row3rdItem1st .contact3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstColumnItem2 .firstColumnItem2Row3rdItem1st .contact3 .saveContactButton {
  text-align: center;
  margin-bottom: 35px;
}
.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .saveContactButton
  a {
  text-decoration: none;
  background: #00afef;
  color: #fff;
  border-radius: 10px;
  padding: 12px 18px;
}
.firstColumnItem2 .firstColumnItem2Row3rdItem1st .contact3 .QRCodeImg {
  width: 150px;
  height: 150px;
  margin-bottom: 35px;
}
.firstColumnItem2 .firstColumnItem2Row3rdItem1st .contact3 .QRCodeImg img {
  width: 100%;
  height: 100%;
}

.firstColumnItem2 .firstColumnItem2Row3rdItem1st .contact3 .socialIconParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .socialIconParent
  .socialIconParentList {
  margin-right: 16px;
}
.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .socialIconParent
  .socialIconParentList:last-child {
  margin-right: 0;
}
.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .socialIconParent
  .socialIconParentList
  a {
  text-decoration: none;
}

.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .socialIconParent
  .socialIconParentList
  a
  img {
  width: 100%;
  height: 100%;
}

.firstColumnItem2 .firstColumnItem2Row3rdItem1st .contact3 .shareIconParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .shareIconParent
  .shareIconParentList {
  margin-right: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .shareIconParent
  .shareIconParentList:last-child {
  margin-right: 0px;
}

.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .shareIconParent
  .shareIconParentList
  a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .shareIconParent
  .iconImg {
  /* width: 30px;
  height: 30px; */
  width: auto;
  height: auto;
  max-width: 30px;
  background: #00afef;
  padding: 11px;
  border-radius: 8px;
  margin-bottom: 9px;
}
.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .shareIconParent
  .iconImg
  button {
  border-style: unset;
  background: transparent;
  padding: 0;
}
.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .shareIconParent
  .iconImg
  button
  img {
  width: 100%;
  height: 100%;
}

.firstColumnItem2
  .firstColumnItem2Row3rdItem1st
  .contact3
  .shareIconParent
  .iconText {
  color: #020303;
  font-size: 17px;
  font-weight: 500;
}
.firstColumnItem3 {
  width: 100%;
  /* max-width: 45% !important; */
  background: #fff;
  padding: 0 30px 0px 0px;
}

.firstColumnItem3 .firstColumnItem3Inner1stColumnItem {
  padding: 33px 18px 24px;
  border-top-right-radius: 110px;
  background: #00afef;
  width: 100%;
}

.firstColumnItem3Inner1stColumnItem1stRowItem .bottomAddres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.firstColumnItem3Inner1stColumnItem1stRowItem .bottomAddres .leftIcon {
  width: 40px;
  height: 40px;
  margin-right: 38px;
}
.firstColumnItem3Inner1stColumnItem1stRowItem .bottomAddres .leftIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.firstColumnItem3Inner1stColumnItem1stRowItem .bottomAddres .rightText p {
  margin-top: 0;
  margin-bottom: 0;
  color: #0c0c0c;
  font-size: 20px;
  font-weight: 500;
}
/* by Anto */
.shareIconParent a {
  text-decoration: none;
}
